body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.skip{
    color: sandybrown;
}
.link_button{
    text-decoration: none;
    background-image:linear-gradient(tomato,salmon,orange);
    padding: 10px 40px;
    color:whitesmoke;
    font-weight: 700;
    border-radius:5px;